#mws-sidebar .mws-navigation a+ul {
    display: none;
}
.error-div{
    margin: 0px 1% !important;
    background: #F8E2E2;
    color:#C24848;
}
.pagination {
    display: inline-block !important;
    padding-left: 0 !important;
    margin: 20px 0 !important;
    border-radius: 4px !important;
}
.pagination>li {
    display: inline !important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.pagination>li>a, .pagination>li>span {
    position: relative !important;
    float: left !important;
    padding: 6px 12px !important;
    margin-left: -1px !important;
    line-height: 1.42857143 !important;
    color: #2D2D31 !important;
    text-decoration: none !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3 !important;
    color: #fff !important;
    cursor: default !important;
    background-color: #2D2D31 !important;
    border-color: #2D2D31 !important;
}